In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the website
url = "https://www.boc.lk/rates-tariff#rupee-deposit-rates"
response = requests.get(url)

# Create a BeautifulSoup object
soup = BeautifulSoup(response.text, 'html.parser')

# Find the table element by its class name
table = soup.find(class_='ck-table-resized')

# Extract the table headers
headers = [header.text.strip() for header in table.find_all('th')]

# Extract the table rows
rows = []
for row in table.find_all('tr'):
    row_data = [data.text.strip() for data in row.find_all('td')]
    rows.append(row_data)

rows = rows[1:]
# Create a DataFrame from the extracted data
df = pd.DataFrame(rows, columns=headers)

# Print the DataFrame
df

                                Term & Payment method Interest Rate (p.a.)
0                                       1 Month (LKR)               11.00%
1                                       3 Month (LKR)               13.00%
2                                       6 Month (LKR)               12.75%
3                  1 Year -Interest at maturity (LKR)               10.00%
4                 1 Year -Interest paid monthly (LKR)                9.75%
5   1 Year | Senior Citizens* -Interest at maturit...               11.00%
6   1 Year | Senior Citizens* -Interest paid month...               10.75%
7                 2 Years -Interest at maturity (LKR)               11.50%
8                2 Years -Interest paid monthly (LKR)                9.75%
9               2 Years -Interest paid annually (LKR)               10.00%
10                3 Years -Interest at maturity (LKR)               11.75%
11               3 Years -Interest paid monthly (LKR)                9.75%
12              3 Years -Interest paid annually (LKR)               10.00%
13                4 Years -Interest at maturity (LKR)               12.00%
14               4 Years -Interest paid monthly (LKR)                9.75%
15              4 Years -Interest paid annually (LKR)               10.00%
16                5 Years -Interest at maturity (LKR)               13.00%
17               5 Years -Interest paid monthly (LKR)                9.75%
18              5 Years -Interest paid annually (LKR)               10.00%

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the website
url = "https://www.combank.lk/personal-banking/term-deposits/fixed-deposits"
response = requests.get(url)

# Create a BeautifulSoup object
soup = BeautifulSoup(response.text, 'html.parser')

# Find the table element by its class name
table = soup.find(class_='with-radius left-align default-font')

# Extract the table headers
headers = [header.text.strip() for header in table.find_all('th')]

# Extract the table rows
rows = []
for row in table.find_all('tr'):
    row_data = [data.text.strip() for data in row.find_all('td')]
    rows.append(row_data)

rows = rows[1:]
# Create a DataFrame from the extracted data
df = pd.DataFrame(rows, columns=headers)

# Print the DataFrame
df

,,Interest Rate (p.a.),Annual Effective Rate
0,1 Month (LKR),10.00,10.47
1,2 Month (LKR),10.00,10.43
2,3 Month (LKR),12.50,13.10
3,6 Month (LKR),12.00,12.36
4,12 Months -Interest paid monthly (LKR),10.50,11.02
5,12 Months -Interest at maturity (LKR),11.00,11.00
6,24 Months -Interest paid monthly (LKR),10.00,10.47
7,24 Months -Interest paid annually (LKR),10.50,10.50
8,24 Months -Interest at maturity (LKR),11.05,10.50
9,36 Months -Interest paid monthly (LKR),10.00,10.47
10,36 Months -Interest paid annually (LKR),10.50,10.50
11,36 Months -Interest at maturity (LKR),11.65,10.51
12,48 Months -Interest paid monthly (LKR),10.00,10.47
13,48 Months -Interest paid annually (LKR),10.50,10.50
14,48 Months -Interest at maturity (LKR),12.25,10.48
15,60 Months -Interest paid monthly (LKR),10.00,10.47
16,60 Months -Interest paid annually (LKR),10.50,10.50
17,60 Months -Interest at maturity (LKR),13.00,10.53

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the website
url = "https://www.peoplesbank.lk/interest-rates/"
response = requests.get(url)

# Create a BeautifulSoup object
soup = BeautifulSoup(response.text, 'html.parser')

# Find the table element by its class name
table = soup.find(class_='table')

# Extract the table headers
headers = [header.text.strip() for header in table.find_all('th')]

# Extract the table rows
rows = []
for row in table.find_all('tr'):
    row_data = [data.text.strip() for data in row.find_all('td')]
    rows.append(row_data)

rows = rows[1:]
# Create a DataFrame from the extracted data
df = pd.DataFrame(rows, columns=headers)

# Print the DataFrame
df

      Period At Maturity p.a. Monthly p.a.
0   01 Month           11.00%            -
1  03 Months           13.00%       12.75%
2  06 Months           12.75%       12.25%
3  12 Months           10.00%        9.75%
4  24 Months           11.50%        9.75%
5  36 Months           11.75%        9.75%
6  48 Months           12.00%        9.75%
7  60 Months           13.00%        9.75%

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the website
url = "https://www.sampath.lk/personal-banking/term-deposit-accounts/regular-deposits/Fixed-Deposits?category=personal_banking"
response = requests.get(url)

# Create a BeautifulSoup object
soup = BeautifulSoup(response.text, 'html.parser')

# Find the table element by its class name
table = soup.find(class_='data-v-b95caf3e')

# Extract the table headers
headers = [header.text.strip() for header in table.find_all('th')]

# Extract the table rows
rows = []
for row in table.find_all('tr'):
    row_data = [data.text.strip() for data in row.find_all('td')]
    rows.append(row_data)

rows = rows[1:]
print(headers)
print(rows)
# Create a DataFrame from the extracted data
df = pd.DataFrame(rows, columns=headers)

# Print the DataFrame
df

AttributeError: 'NoneType' object has no attribute 'find_all'

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the website
url = "https://www.seylan.lk/interest-rates#"
response = requests.get(url)

# Create a BeautifulSoup object
soup = BeautifulSoup(response.text, 'html.parser')

# Find the table element by its class name
table = soup.find(class_='table-style-4')

# Extract the table headers
headers = [header.text.strip() for header in table.find_all('th')]

# Extract the table rows
rows = []
for row in table.find_all('tr'):
    row_data = [data.text.strip() for data in row.find_all('td')]
    rows.append(row_data)

rows = rows[1:]
# Create a DataFrame from the extracted data
df = pd.DataFrame(rows, columns=headers)

# Print the DataFrame
df

                                              Interest Rate % p.a. AER %
0               Below LKR 999.99 \n\n0.00\n -                 0.00     -
1  Rs. 1,000.00 to Rs. 9,999.99\n\n2.00\n2.02                 2.00  2.02
2          Rs.10,000.00 & above\n\n2.50\n2.53                 2.50  2.53

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the website
url = "https://www.nationstrust.com/deposit-rates"
response = requests.get(url)

# Create a BeautifulSoup object
soup = BeautifulSoup(response.text, 'html.parser')

# Find the table element by its class name
table = soup.find(class_='table table-bordered')

# Extract the table headers
headers = [header.text.strip() for header in table.find_all('th')]

# Extract the table rows
rows = []
for row in table.find_all('tr'):
    row_data = [data.text.strip() for data in row.find_all('td')]
    rows.append(row_data)

# Extract the data rows
data_rows = rows[1:]

# Create a DataFrame from the data rows
df = pd.DataFrame(data_rows)

# Transpose the DataFrame
transposed_df = df.transpose()

# Assign the second row as the new column names
transposed_df.columns = transposed_df.iloc[1]

# Drop the second row from the DataFrame
transposed_df = transposed_df.drop(1)



# Reset the index of the DataFrame
transposed_df = transposed_df.reset_index(drop=True)


# Print the transposed DataFrame
transposed_df

1  None Maturity Interest Monthly Interest
0  None               LKR              LKR
1  None                11                -
2  None              12.5                -
3  None                12             11.7
4  None                11            10.45
5  None                11             9.95
6  None              11.5             9.85
7  None             12.25             9.95
8  None                13             9.95

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Send a GET request to the website
url = "https://www.ndbbank.com/rates-and-tariffs?active=interest_rates_on_deposits#"
response = requests.get(url)

# Create a BeautifulSoup object
soup = BeautifulSoup(response.text, 'html.parser')

# Find the table element by its class name
table = soup.find(class_='u-outline-tbl u-outline-tbl--mltline')

# Extract the table headers
headers = [header.text.strip() for header in table.find_all('th')]

# Extract the table rows
rows = []
for row in table.find_all('tr'):
    row_data = [data.text.strip() for data in row.find_all('td')]
    rows.append(row_data)

rows = rows[1:]
# Create a DataFrame from the extracted data
df = pd.DataFrame(rows, columns=headers)

# Print the DataFrame
df

,Fixed Deposits,Min. rate as at20-06-2023,Annual Effective Rate as at20-06-2023
0,1 Month,None,None
1,>Interest Payable at Maturity,10.00 %,10.47 %
2,3 Months,None,None
3,>Interest Payable Monthly,12.50 %,13.24 %
4,>Interest Payable at Maturity,13.00 %,13.65 %
5,6 Months,None,None
6,>Interest Payable Monthly,11.45 %,12.07 %
7,>Interest Payable at Maturity,12.00 %,12.36 %
8,9 Months,None,None
9,>Interest Payable Monthly,11.40 %,12.01 %
10,>Interest Payable at Maturity,12.00 %,12.14 %
11,1 year,None,None
12,>Interest Payable Monthly,11.40 %,12.01 %
13,>Interest Payable at Maturity,12.00 %,12.00 %
14,2 years,None,None
15,>Interest Payable Monthly,10.40 %,10.91 %
16,>Interest Payable at Maturity,11.50 %,10.91 %
17,3 years,None,None
18,>Interest Payable Monthly,10.30 %,10.80 %
19,>Interest Payable at Maturity,12.00 %,10.79 %
20,4 years,None,None
21,>Interest Payable Monthly,10.35 %,10.86 %
22,>Interest Payable at Maturity,12.75 %,10.85 %
23,5 years,None,None
24,>Interest Payable Monthly,10.35 %,10.86 %
25,>Interest Payable at Maturity,13.50 %,10.87 %